<!DOCTYPE html>
<html lang="en">

<head>
	<title>Davies Odu|Bohao Huang</title>
	<meta charset="utf-8" />
	<!-- load bootstrap css -->
	{% load staticfiles %}
	<!-- <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script> -->
	<link rel="stylesheet" type="text/css" href="{% static 'sentiWebApp/css/bootstrap.min.css' %}">
	<!-- <script type="text/javascript" src="{% static 'sentiWebApp/js/bootstrap.min.js' %}"></script> -->
	  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
     <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
     <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

	<!-- flask style reference -->
	<meta name="viewport" content = "width=device-width, initial-scale=1.0">
	
	<style type="text/css">
		html,
		body, head {
		  height:100%;
		  font: 100 12px/1.5 monospace,"Helvetica Neue","Raleway", Helvetica, Arial, sans-serif;

		}
		.inline-cust {
		  width: 300px;
		  padding : 40px;
		}

		/*loading*/
		#loading {
			left : 50%;
			top : 50%;
			position : absolute;
			z-index : 101;
			border: 16px solid #f3f3f3;
			border-radius: 50%;
			border-top: 16px solid #3498db;
			width: 120px;
			height: 120px;
			-webkit-animation: spin 2s linear infinite;
			animation: spin 2s linear infinite;
		}

		@-webkit-keyframes spin {
			0% { -webkit-transform: rotate(0deg); }
			100% { -webkit-transform: rotate(360deg); }
		}

		@keyframes spin {
			0% { transform: rotate(0deg); }
			100% { transform: rotate(360deg); }
		}
	</style>
</head>

<body class="body" style="background-color:#f6f6f6; text-align: center; ">
	<!-- ****************************************************************************************** -->
<!-- fork me -->
<a href="https://github.com/qingshuimonk/bhtsa" target="blank"><img style="position:fixed;top:0;right:0;border:0;" width="149" height="149" src="{% static 'sentiWebApp/forkme.png' %}" alt="Fork me on GitHub"></a>
<!--  -->




	<div class="container" style="min-height:95%; ">
		<div class="row">
			<div class="col-sm-2">
				<center>
					<img src="{% static 'sentiWebApp/senti_image.png' %}" class="responsive-img" style='max-height:150px;' alt="face">
				</center>
			</div>
			<div class="col-sm-10" style="font-weight: 300; font-size: 25px;">
				<center>
					<br>
					<p> Senti-Wiz </p>
					<p> Twitter Sentiment Analysis and Visualization </p>
				</center>
			</div>
		</div><hr>
		<!-- ****************************************************************************************** -->
		<br><br>
		<form id = "form-1" method = "post" >
			<!-- {% csrf_token %} -->
			<div class = "row">
				<!-- 1 Input Team 1 -->
				<div class = "input" style="font-size: 15px; ">
					<!--  -->
					<div class="form-group col-md-5 col-md-offset-1">  <!-- size text box-->
						<div class="input-group input-group-lg">
							<span class="input-group-addon" id="sizing-addon1">Enter Team 1</span>
							<input id = "team-name-1"  type="text" class="form-control" placeholder="Basketball team 1" aria-describedby="sizing-addon1" name = "index">

						</div>
					</div>  
				</div>

				<!-- 1 Input Team 2  -->
				<div class = "input" style="font-size: 15px; ">
					<!--  -->
					<div class="col-md-5">  <!-- size text box-->
						<div class="input-group input-group-lg">
							<span class="input-group-addon" id="sizing-addon1">Enter Team 2</span>
							<input id = "team-name-2"  type="text" class="form-control" placeholder="Basketball team 2" aria-describedby="sizing-addon1" name = "index">

						</div>
					</div>  
				</div>

		</div>	
<!-- Submit Button -->
				<div class="span3 text-center">
					<div class="btn btn-primary btn-lg" method = "POST" role="button" onclick ="handleQuery()">Get Raw tweets</div>

					<h1 id = "loading" style="margin-left: -70px;"></h1>
                 </div>



		


		</form>	


	<!-- 	<br>{{PS }}<br> -->
				<!-- **********ss******************************************************************************* -->
	<!-- 	<div class="form-group">
			<label for="comment">Comment:</label>
			<textarea class="form-control" rows="5" id="comment"></textarea>
		</div> -->
		<!-- ****************************************************************************************** -->
		<!-- Old analyze element -->
		<!-- <label for="sel2">View retrieved tweets below: Click on the Analyze to proceed to tweet analysis</label>
		<div class="input-group">
			<textarea  id="result" class="form-control custom-control" rows="10" style="resize:none"></textarea>     
			<span id = "analyze-button" class="input-group-addon btn btn-primary">Analyze</span>
		</div> -->

		<!-- first pair -->

<div id = "boxes">

		<div class = "column">
			<div class="row">
				<div class="form-group col-md-5 col-md-offset-1">
					<label for="comment">Team 1 tweets</label>
					<textarea id = "team_1_raw_tweets" class="form-control" rows="11" id="comment"></textarea>
				</div>
				<div class="form-group col-md-5">
					<label for="comment">Team 2 tweets</label>
					<textarea id = "team_2_raw_tweets" class="form-control" rows="11" id="comment"></textarea>
				</div>

			</div>
		<!-- pre-process Tweets-->
			<div class = "form-group row-md-5" >
				<div class="btn btn-primary btn-lg" method = "POST" role="button" onclick ="pre_process()">Pre-Process Tweets</div>
			</div>

		</div>


		<!-- second pair -->


		<div class = "column">
			<div class="row">
				<div class="form-group col-md-5 col-md-offset-1">
					<label for="comment">Team 1 tweets after Pre-processing</label>
					<textarea id = "team_1_processed_tweets" class="form-control" rows="11" id="comment"></textarea>
				</div>
				<div class="form-group col-md-5">
					<label for="comment">Team 2 tweets after Pre-processing</label>
					<textarea id = "team_2_processed_tweets" class="form-control" rows=11 id="comment"></textarea>
				</div>
			</div>



			<div class = "form-group row-md-5" >
				<div class="btn btn-primary btn-lg" method = "POST" role="button" onclick = "openInNewTab()" >Get Sentiment plot</div>
				<!-- <a href = "results.html" ><div class="btn btn-primary btn-lg" method = "POST" role="button" >Get Sentiment plot</div></a> -->
			</div>
		</div>
	</div> 

</div>	
<br><br><br>

<!-- result section -->


<br><br>
	<footer>

		<div class="container-fluid" style='margin-left:15px'>
			{% block content %}
			{% endblock %}	
			
		</div>
	</footer>	
	<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
</body>

<script type="text/javascript">
   //Query button listener
   function handleQuery(){
   	var team_1 =  document.getElementById("team-name-1").value;
   	var team_2 =  document.getElementById("team-name-2").value;
   	// var phrase_state = phrase + "-"+ State;
   	var phrase_state = team_1 + "_" + team_2;

   	//RENDER THIS TO BACK END
   	do_names_post(phrase_state);
   }

	$('#loading').hide();
	$('#boxes').show();

	function do_names_post(phrase_state){

		// console.log(phrase_state);
		team_array = phrase_state.split("_");
		team_1_name = team_array[0];
		team_2_name = team_array[1];


		request = $.ajax({
			type: "POST",
			url: '/bp',
			data:
			{
				phrase_state: team_1_name,
				'csrfmiddlewaretoken': '{{ csrf_token }}'
			},
			beforeSend: function() { 
				$('#boxes').hide();
				$('#loading').show();
			},
			complete: function() {
			 $('#loading').hide(); 
			 $('#boxes').show();
			}

		});

		request.done(function(data){
			$('#loading').show();
			console.log(data)
			$("#team_1_raw_tweets").text(data);
			// get tweets for second team
			do_team_2_post(team_2_name);
		});

	}



	function do_team_2_post(team_2_name){


		request = $.ajax({
			type: "POST",
			url: '/bp',
			data:
			{
				phrase_state: team_2_name,
				'csrfmiddlewaretoken': '{{ csrf_token }}'
			},
			beforeSend: function() { 
				$('#boxes').hide();
				$('#loading').show();
			},
			complete: function() {
			 $('#loading').hide(); 
			 $('#boxes').show();
			}

		});

		request.done(function(data){
			console.log(data)
			$("#team_2_raw_tweets").text(data);
			
		});
	
	}

function pre_process(){
	team_1_raw_tweets = document.getElementById("team_1_raw_tweets").value;
	team_2_raw_tweets = document.getElementById("team_2_raw_tweets").value;
	
request = $.ajax({
			type: "POST",
			url: '/bp',
			data:
			{
				phrase_state: "Preprocessed: " + team_1_raw_tweets,
				'csrfmiddlewaretoken': '{{ csrf_token }}'
			},
			beforeSend: function() { 
				$('#boxes').hide();
				$('#loading').show();
				pre_process_2(team_2_raw_tweets);

			},
			complete: function() {
			 $('#loading').hide(); 
			 $('#boxes').show();
			}

		});

		request.done(function(data){
			console.log(data)
			$("#team_1_processed_tweets").text(data);
			// get tweets for second team
			});

}

function pre_process_2(team_2_raw_tweets){
	$('#loading').show();
request = $.ajax({
			type: "POST",
			url: '/bp',
			data:
			{
				phrase_state: "Preprocessed: " + team_2_raw_tweets,
				'csrfmiddlewaretoken': '{{ csrf_token }}'
			},
			beforeSend: function() { 
				$('#boxes').hide();
				$('#loading').show();
			},
			complete: function() {
			 $('#loading').hide(); 
			 $('#boxes').show();
			}

		});

		request.done(function(data){
			console.log(data)
			$("#team_2_processed_tweets").text(data);
		});

}

function openInNewTab() {	
      team_1_processed_tweets = document.getElementById("team_1_processed_tweets").value;
	  team_2_processed_tweets = document.getElementById("team_2_processed_tweets").value;

	// console.log(team_1_processed_tweets + team_2_processed_tweets)
	  request = $.ajax({
			type: "POST",
			url: '/bp',
			data:
			{
				phrase_state: "Score: " + team_1_processed_tweets,
				'csrfmiddlewaretoken': '{{ csrf_token }}'
			},
			beforeSend: function() { 
				$('#boxes').hide();
				$('#loading').show();
				process_2_scores(team_2_processed_tweets);
			},
			complete: function() {
			 $('#loading').hide(); 
			 $('#boxes').show();
			}

		});

		request.done(function(data){
			console.log(data)

			  var win = window.open("results.html", '_blank');
			  // win.myVariable = thisIsAnObject;
			  win.team_1_processed_tweets = team_1_processed_tweets;
			  win.team_2_processed_tweets = team_2_processed_tweets;
			  win.focus();



		});

	  // var win = window.open("results.html", '_blank');
	  // // win.myVariable = thisIsAnObject;
	  // win.team_1_processed_tweets = team_1_processed_tweets;
	  // win.team_2_processed_tweets = team_2_processed_tweets;
	  // win.focus();
}


function process_2_scores(team_2_processed_tweets){
	$('#loading').show();
request = $.ajax({
			type: "POST",
			url: '/bp',
			data:
			{
				phrase_state: "Score: " + team_2_processed_tweets,
				'csrfmiddlewaretoken': '{{ csrf_token }}'
			},
			beforeSend: function() { 
				$('#boxes').hide();
				$('#loading').show();
			},
			complete: function() {
			 $('#loading').hide(); 
			 $('#boxes').show();
			}

		});

		request.done(function(data){
			console.log(data)
		});

}

</script>

</html>











